export WORKSHOP="NAME_ME_PLEASE!"
export AWS_DEFAULT_REGION="eu-west-1"
# https://developer.hashicorp.com/terraform/cli/config/config-file#provider-installation
# export TF_CLI_CONFIG_FILE=dev.tfrc ucomment to use a custom config file
export TF_PLUGIN_MAGIC_COOKIE=d602bf8f470bc67ca7faa0386276bbdd4330efaf76d1a219cb4d6991ca9872b2
# export PLUGIN_PROTOCOL_VERSIONS=5,6
# export PROVIDER_PATH=/Users/ik/.gvm/pkgsets/go1.22.0/global/bin/terraform-provider-aws
export TF_LOG=info
# export TF_LOG=trace
# export TF_REATTACH_PROVIDERS='{"registry.terraform.io/hashicorp/aws":{"Protocol":"grpc","ProtocolVersion":5,"Pid":86289,"Test":true,"Addr":{"Network":"unix","String":"/var/folders/_c/_98lxf5d64z2dcc1lr55llzr0000gn/T/plugin1173148568"}}}'
